{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Registration{% endblock %}
{% block content %}
    <div class="content-section">
        <h2>Register</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {{ render_form(form) }}
    </div>
{% endblock %}
